.numbers-of-calendar {
    
    width: 500px;
    height: auto;
    background-color: #f0fd5a;
    
}

ul {
    display: flex;
    align-content:space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    width: 25px;
    height: 25px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: large;
    border: 1px solid #ddd;
    text-align: center;
}

h1 {
    text-transform: capitalize;
    padding: 15px;
}